/* Login */

.sp-login-container .sp-form-row:last-child {
  @apply sp-mb-0;
}

/* Header */

.pace .pace-progress {
  top: 3rem;
}

/* Navigation */

header ul {
  @apply sp-p-0 sp-list-none;
}

.sp-nav-item {
  @apply sp-border-t sp-border-primary-900 sp-text-white;
}

a.sp-nav-item {
  @apply sp-text-white;
}

.sp-nav-item:not(.sp-nav-icon-item) {
  @apply sp-block sp-px-5 sp-py-3;
}

.sp-nav-item .fas.sp-chevron:before,
.sp-nav-sub-menu .fas.sp-chevron:before {
  content: "\f077";
}

.sp-nav-dropdown {
  @apply sp-hidden sp-bg-primary sp-text-sm;
}

.sp-nav-dropdown li {
  @apply sp-border-b sp-border-secondary;
}

.sp-nav-dropdown li:last-child {
  @apply sp-border-b-0;
}

.sp-nav-dropdown li > a {
  @apply sp-block sp-px-5 sp-py-3 sp-text-primary;
}

.sp-nav-sub-menu + .sp-nav-dropdown li > a,
.sp-nav-sub-menu + .sp-nav-dropdown li.sp-multi-list > .sp-title {
  @apply sp-pl-10;
}

.sp-nav-item:not(.sp-nav-icon-item):hover,
.sp-nav-dropdown li > a:hover {
  @apply sp-bg-primary-900 sp-text-white sp-cursor-pointer;
}

.sp-nav-dropdown li.sp-multi-list {
  @apply sp-py-2;
}

.sp-nav-dropdown li.sp-multi-list .sp-title {
  @apply sp-px-5 sp-py-1 sp-font-bold sp-text-secondary sp-uppercase;
}

.sp-nav-dropdown li.sp-multi-list > a {
  @apply sp-block sp-py-1 sp-truncate;
}

@screen lg {
  nav {
    @apply sp-block !important;
  }

  .sp-nav-item {
    @apply sp-border-0;
  }

  .sp-nav-item:not(.sp-nav-icon-item) {
    @apply sp-inline-block sp-px-3 sp-py-4;
  }

  .sp-nav-item .fas.sp-chevron:before {
    content: "\f078";
  }

  .sp-nav-sub-menu .fas.sp-chevron:before {
    content: "\f054";
  }

  .sp-nav-dropdown {
    @apply sp-absolute sp-top-100 sp-min-w-4xl sp-max-w-6xl sp-rounded-b sp-shadow;
  }

  .sp-theme-dark .sp-nav-dropdown {
    @apply sp-border sp-border-secondary sp-shadow-md;
  }

  .sp-nav-item:hover + .sp-nav-dropdown,
  .sp-nav-item.sp-hover + .sp-nav-dropdown,
  .sp-nav-sub-menu:hover + .sp-nav-dropdown,
  .sp-nav-dropdown:hover {
    @apply sp-block;
  }

  nav > ul > li:hover > .sp-nav-item,
  .sp-nav-item.sp-hover,
  nav > ul > li > ul > li:hover > .sp-nav-sub-menu {
    @apply sp-bg-primary-900 sp-text-white sp-cursor-pointer;
  }

  .sp-nav-sub-menu + .sp-nav-dropdown {
    @apply sp-top-0 sp-left-100;
  }

  .sp-theme-dark .sp-nav-sub-menu + .sp-nav-dropdown {
    top: -1px;
  }

  .sp-nav-dropdown li {
    @apply sp-border-b;
  }

  .sp-nav-dropdown li:not(.sp-multi-list):last-child > a:hover {
    @apply sp-rounded-b;
  }

  .sp-nav-sub-menu + .sp-nav-dropdown li > a {
    @apply sp-pl-5;
  }
}

@screen xl {
  .sp-nav-item:not(.sp-nav-icon-item) {
    @apply sp-px-4;
  }
}

.sp-mobile-nav svg {
  @apply sp-fill-current;
  height: 1.375rem;
  width: 1.375rem;
}

.sp-private-messages a:hover {
  @apply sp-text-white;
}

/* Content */

#wrapper {
  height: calc(100% - 3rem);
}

@screen lg {
  #wrapper {
    @apply sp-h-full;
  }
}

/* Sidebar */

#sidebar .sp-sidebox {
  display: none;

  @apply sp-border-b sp-border-tertiary;
}

#sidebar .sp-sidebox .sp-collapsible {
  @apply sp-h-auto sp-w-full sp-p-0 sp-shadow-none sp-rounded-none sp-text-secondary sp-cursor-pointer;
}

#sidebar .sp-sidebox .sp-collapsible:hover,
#sidebar .sp-sidebox .sp-collapsible:hover h3 {
  @apply sp-text-primary;
}

#sidebar .sp-sidebox .sp-icon,
#sidebar .sp-sidebox .sp-collapsible .sp-chevron {
  @apply sp-flex-none sp-my-1/2;
}

#sidebar .sp-sidebox h3 {
  @apply sp-grow sp-my-0 sp-ml-3 sp-text-xl sp-font-bold sp-leading-snug;
}

#sidebar .sp-sidebox .sp-collapsible + * {
  @apply sp-mt-4;
}

#sidebar .sp-sidebox a {
  @apply sp-text-primary;
}

#sidebar .sp-sidebox a:hover {
  @apply sp-text-secondary;
}

#sidebar .sp-sidebox input,
#sidebar .sp-sidebox select,
#sidebar .sp-sidebox .selectize-input {
  @apply sp-px-3/2;
}

#sidebar .sp-sidebox select {
  @apply sp-pr-7;
}

#sidebar .sp-sidebox input[type="checkbox"],
#sidebar .sp-sidebox input[type="radio"] {
  @apply sp-p-0;
}

#sidebar .sp-sidebox input,
#sidebar .sp-sidebox select,
#sidebar .sp-sidebox button:not(.sp-button-submit):not(.as-link),
#sidebar .sp-sidebox a.sp-button:not(.sp-button-submit),
#sidebar .sp-sidebox .tox-tinymce,
#sidebar .sp-sidebox .selectize-input,
#sidebar .sp-sidebox input[type="checkbox"]::before,
#sidebar .sp-sidebox input[type="radio"]::before,
#sidebar .sp-sidebox input[type="checkbox"]:hover::before,
#sidebar .sp-sidebox input[type="radio"]:hover::before {
  @apply sp-bg-primary sp-border-primary;
}

#sidebar .sp-sidebox input[type="radio"]:checked::before,
#sidebar .sp-sidebox input[type="radio"]:checked:hover::before {
  @apply sp-bg-green-600;
}

#sidebar .sp-sidebox .selectize-dropdown {
  @apply sp-bg-secondary sp-border-2 sp-border-t-0 sp-border-primary;
}

#sidebar .sp-sidebox button:not(.sp-button-submit):not(.as-link):not([disabled]):hover,
#sidebar .sp-sidebox a.sp-button:not(.sp-button-submit):hover,
#sidebar .sp-sidebox .selectize-dropdown .active {
  @apply sp-bg-tertiary;
}

#sidebar .sp-sidebox hr {
  @apply sp-my-4;
}

#sidebar .sp-toggle-sidebar {
  @apply sp-bg-primary;
}

.sp-theme-dark #sidebar .sp-toggle-sidebar {
  @apply sp-bg-tertiary;
}

#sidebar .fas.sp-chevron:before {
  content: "\f101";
}

#sidebar.sp-sidebar-open .fas.sp-chevron:before {
  content: "\f100";
}

#sidebar.sp-sidebar-open {
  @apply sp-fixed sp-z-10001 sp-shadow;
  height: calc(100% - 3rem);
}

#sidebar.sp-sidebar-open .sp-sidebox {
  display: block;

  @apply sp-p-6;
}

#sidebar.sp-sidebar-open .sp-sidebox.sp-hidden {
  display: none;
}

@screen lg {
  #sidebar:not(.sp-sidebar-closed) .sp-sidebox {
    display: block;

    @apply sp-p-6;
  }

  #sidebar:not(.sp-sidebar-closed) .sp-sidebox.sp-hidden {
    display: none;
  }

  #sidebar:not(.sp-sidebar-closed) .fas.sp-chevron:before {
    content: "\f100";
  }

  #sidebar.sp-sidebar-closed .fas.sp-chevron:before {
    content: "\f101";
  }
}

#sidebar .sp-sidebox ul {
  @apply sp-pl-0 sp-list-none;
}

#sidebar .sp-sidebox li {
  @apply sp-pb-3/2;
}

#sidebar .sp-sidebox li:last-child {
  @apply sp-pb-0;
}

#sidebar .sp-sidebox li.sp-active {
  @apply sp-font-bold;
}

#sidebar .sp-form-row {
  @apply sp-mb-4;
}

#sidebar .sp-form-row input[type="email"],
#sidebar .sp-form-row input[type="number"],
#sidebar .sp-form-row input[type="password"],
#sidebar .sp-form-row input[type="search"],
#sidebar .sp-form-row input[type="tel"],
#sidebar .sp-form-row input[type="text"],
#sidebar .sp-form-row input[type="url"] {
  @apply sp-w-full;
}

#sidebar .sp-form-row select {
  @apply sp-max-w-full;
}

#sidebar ul.sp-tabs {
  @apply sp-mx-0 sp-mb-4 sp-border sp-border-tertiary sp-rounded;
}

#sidebar ul.sp-tabs li {
  @apply sp-p-0 sp-mr-0;
}

#sidebar ul.sp-tabs li a {
  @apply sp-bg-transparent sp-py-1 sp-text-secondary;
}

#sidebar ul.sp-tabs li.sp-active a {
  @apply sp-bg-tertiary sp-rounded-none;
}

#sidebar ul.sp-tabs li.sp-active a,
#sidebar ul.sp-tabs li a:hover {
  @apply sp-text-primary;
}

/* Main */

#sidebar.sp-sidebar-open + #content {
  @apply sp-ml-6;
}

@screen sm {
  #sidebar.sp-sidebar-open + #content {
    @apply sp-ml-8;
  }
}

#content > div > .sp-alert-sticky {
  @apply sp-sticky sp-top-0 sp-mb-0 sp-rounded-none sp-z-50;
}

#content > div > .sp-quick-actions ~ .sp-alert-sticky {
  top: 3rem;
}

h1 {
  @apply sp-mb-6 sp-text-2xl;
}

@screen sm {
  h1 {
    @apply sp-text-3xl;
  }
}

h2 {
  @apply sp-my-6 sp-text-secondary sp-text-xl;
}

h3 {
  @apply sp-my-6 sp-text-secondary sp-text-lg;
}

h4 {
  @apply sp-my-4 sp-text-secondary;
}

.sp-quick-actions {
  @apply sp-sticky sp-h-12 sp-top-0 sp-px-3 sp-py-3/2 sp-bg-primary sp-shadow sp-z-100;
}

.sp-theme-dark .sp-quick-actions {
  @apply sp-shadow-md;
}

.sp-quick-actions input,
.sp-quick-actions select {
  @apply sp-py-1;
  min-height: 2.25rem;
}

.sp-quick-actions button,
.sp-quick-actions input[type="button"],
.sp-quick-actions input[type="submit"],
.sp-quick-actions .sp-button {
  @apply sp-py-3/2;
}

.sp-quick-actions ul {
  @apply sp-p-0;
}

.sp-quick-actions ul li.sp-action-group:not(.sp-float-right) {
  @apply sp-pr-1/2;
}

.sp-quick-actions ul li.sp-action-group + li.sp-action-group {
  @apply sp-pl-1/2;
}

.sp-quick-actions ul li.sp-action-group:not(.sp-hidden) + li.sp-action-group:not(.sp-float-right) {
  @apply sp-border-l sp-border-secondary;
}

.sp-quick-actions ul li.sp-action-group:not(.sp-float-right) + li.sp-action-group.sp-float-right:not(.sp-hidden) {
  @apply sp-border-0;
}

.sp-quick-actions .sp-action {
  @apply sp-px-3 sp-bg-transparent sp-shadow-none;
}

.sp-quick-actions .sp-action:not([disabled]):hover {
  @apply sp-bg-tertiary sp-shadow-inner sp-text-primary;
}

.sp-quick-actions .sp-reply-type .sp-action.sp-active[data-type="0"] {
  @apply sp-text-blue-600;
}

.sp-quick-actions .sp-reply-type .sp-action.sp-active[data-type="1"] {
  @apply sp-text-yellow-600;
}

.sp-quick-actions .sp-reply-type .sp-action.sp-active[data-type="2"] {
  @apply sp-text-purple-600;
}

@screen xs {
  .sp-quick-actions ul li.sp-action-group:not(.sp-float-right) {
    @apply sp-pr-1;
  }

  .sp-quick-actions ul li.sp-action-group + li.sp-action-group {
    @apply sp-pl-1;
  }

  .sp-quick-actions .sp-action {
    @apply sp-px-4;
  }
}

@screen print {
  .sp-quick-actions {
    display: none;
  }
}

.sp-title-description,
.sp-subtitle-description,
.breadcrumb {
  @apply sp--mt-4 sp-mb-6 sp-text-secondary;
}

.sp-subtitle-description.sp-mb-3 {
  margin-bottom: 0.75rem;
}

.breadcrumb a {
    @apply sp-text-secondary;
}

.breadcrumb a:hover {
    @apply sp-text-primary;
}

.breadcrumb .fas {
    @apply sp-text-xs;
}

/* Header search */

#header .search-form .selectize-control:before {
  @apply sp-absolute sp-text-white sp-font-icon sp-font-bold sp-z-10;
  content: "\f002";
  left: 0.5rem;
  top: 1rem;
}

#header .search-form input[type="search"],
#header .search-form .selectize-input {
  @apply sp-h-12 sp-py-0 sp-pl-8 sp-bg-primary-800 sp-border-0 sp-rounded-none;
  line-height: 2.25rem;
}

#header .search-form input[type="search"]:focus,
#header .search-form .selectize-input.focus {
  @apply sp-w-full sp-bg-primary-800;
}

#header .search-form input {
  @apply sp-text-white;
}

#header .search-form input::placeholder {
  @apply sp-text-primary-200 sp-opacity-100;
}

@screen lg {
  #header .search-form div.selectize-control:before {
    @apply sp-cursor-pointer;
  }

  #header .search-form input[type="search"],
  #header .search-form .selectize-input {
    @apply sp-w-8 sp-pl-4 sp-cursor-pointer;
  }

  #header .search-form input[type="search"]:focus,
  #header .search-form .selectize-input.focus {
    @apply sp-pl-8 sp-bg-primary-600 sp-cursor-auto;
    min-width: 24rem;
  }

  #header .search-form input[type="search"]::placeholder,
  #header .search-form .selectize-input input::placeholder {
    @apply sp-opacity-0;
  }

  #header .search-form input[type="search"]:focus::placeholder,
  #header .search-form .selectize-input.focus input::placeholder {
    @apply sp-opacity-100;
  }
}

#header .search-form .selectize-control.loading:before {
  background: 0;
}

#header .search-form .selectize-control.loading:after {
  @apply sp-block sp-absolute sp-text-white sp-font-icon sp-font-bold sp-z-50;
  animation: fa-spin 2s infinite linear;
  content: "\f110";
  height: 1rem;
  right: 0.75rem;
  top: 1rem;
  width: 1rem;
}

#header .search-form .selectize-dropdown [data-selectable] {
  @apply sp-p-0;
}

#header .search-form .selectize-dropdown [data-selectable] .highlight {
  @apply sp-bg-transparent sp-rounded-none sp-font-bold;
}

#header .search-form .selectize-dropdown a {
  @apply sp-text-primary;
}

#header .search-form .selectize-dropdown .selectize-dropdown-content {
  @apply sp-max-h-full;
}

/* Widgets */

.sp-widget {
  @apply sp-mb-6 sp-border sp-border-tertiary sp-rounded;
}

.sp-widget:last-child {
  @apply sp-mb-0;
}

.sp-widget .sp-widget-header {
  @apply sp-px-3 sp-py-2 sp-bg-secondary sp-rounded-t sp-text-xl sp-font-bold sp-cursor-pointer;
}

.sp-widget.sp-widget-minimised .sp-widget-header {
  @apply sp-rounded;
}

.sp-widget .sp-widget-header .sp-widget-toggle {
  @apply sp-px-1 sp-py-2 sp-text-sm sp-cursor-pointer sp-float-right;
}

.sp-widget .sp-widget-content {
  @apply sp-p-3;
}

/* Ticket Grid */

.sp-ticket-metadata {
  @apply sp-text-secondary;
}

.sp-ticket-metadata .fas {
  @apply sp-text-xs;
}

.sp-ticket-metadata .sp-messages-count {
  @apply sp-bg-gray-400;
}

.sp-theme-dark .sp-ticket-metadata .sp-messages-count {
  @apply sp-bg-gray-600;
}

.sp-ticket-metadata .sp-notes-count {
  @apply sp-bg-yellow-400;
}

.sp-theme-dark .sp-ticket-metadata .sp-notes-count {
  @apply sp-bg-yellow-700;
}

.sp-ticket-metadata .sp-messages-count,
.sp-ticket-metadata .sp-notes-count {
  @apply sp-text-primary;
}

.sp-theme-dark .sp-ticket-metadata .sp-messages-count,
.sp-theme-dark .sp-ticket-metadata .sp-notes-count {
  @apply sp-text-white;
}

/* SLA Plans */

.sp-duration {
  @apply sp-inline-block;
}

.sp-duration, .sp-duration input {
  @apply sp-text-center;
}

.sp-duration .sp-description {
  @apply sp-mt-1 sp-text-xs;
}

.sp-condition-group {
  @apply sp-border sp-border-tertiary sp-rounded;
}

.sp-condition-group .sp-condition-group-header {
  @apply sp-px-3 sp-py-2 sp-mb-0 sp-bg-secondary sp-rounded-t;
}

.sp-condition-group .sp-condition-group-header h3 {
  @apply sp-m-0;
}

.sp-condition-group .sp-condition-group-inner {
  @apply sp-pb-3 sp-overflow-auto;
}

.sp-condition-group table td {
  @apply sp-p-3 sp-pb-0 sp-border-0;
}

.sp-condition-group + .sp-form-row {
  @apply sp-pt-1;
}

.sp-condition-group .sp-condition-group-inner .sp-condition-group-buttons {
  @apply sp-p-3 sp-pb-0;
}

.sp-condition-group .sp-collapsible {
  @apply sp-rounded-b-none sp-shadow-none;
}

.sp-condition-group .sp-collapsible + .sp-hidden {
  @apply sp-mt-0;
}

/* Feedback */

.field-option-container > .option,
.field .add-option {
  @apply sp-mt-2;
}

.field-option-container > .option .sp-translatable-modal {
  left: 1.75rem;
}

/* Custom Fields */

.sp-customfield-options .sp-form-row label {
  @apply sp-mb-0;
}

.sp-customfield-options .sp-form-row.option {
  @apply sp-flex sp-pb-0 sp-items-center;
}

.sp-customfield-options .sp-form-row.option.sp-hidden {
  display: none;
}

.sp-customfield-options .sp-form-row.option label {
  @apply sp-mr-3;
}

/* Departments/Actions */

.group.sortable-drag td,
.rule.sortable-drag td {
  @apply sp-invisible sp-border-b-0;
}

.group.sortable-drag td.drag-visible,
.rule.sortable-drag td.drag-visible {
  @apply sp-visible;
}

/* Pagination */

ul.pagination {
  @apply sp-pl-0 sp-my-6 sp-list-none sp-text-center;
}

ul.pagination li {
  @apply sp-inline;
}

ul.pagination li > a,
ul.pagination li > span {
  @apply sp-inline-block sp-px-3 sp-py-3/2 sp-border sp-border-tertiary sp-rounded;
}

ul.pagination li > a:hover,
ul.pagination li.active > span {
  @apply sp-bg-secondary;
}

ul.pagination li.disabled > span {
  @apply sp-opacity-50;
}

/* Translatable input */

.sp-input-translatable {
  @apply sp-relative;
}

.sp-form-full .sp-input-translatable div.sp-input-translatable-container,
.sp-input-translatable input {
  @apply sp-w-full;
}

.sp-input-translatable div.sp-input-translatable-container > input {
  @apply sp-pr-10;
}

.sp-input-translatable.sp-input-translatable-small input,
.sp-input-translatable.sp-input-translatable-small .sp-translatable-modal {
  @apply sp-max-w-5xl;
}

.sp-input-translatable .fa-language {
  @apply sp-absolute sp-p-1 sp-mt-2 sp-text-secondary sp-cursor-pointer;
  right: 0.5rem;
}

.sp-theme-dark .sp-translatable-modal {
  @apply sp-border sp-border-secondary sp-shadow-md;
}

.sp-translation.sp-form-row {
  @apply sp-pt-3/2 sp-pb-0;
}

/* Ticket Grid */

table#ticketGridTable tbody tr td {
  @apply sp-align-top;
}

table.dataTable tbody tr.sp-ticket-viewed td {
  @apply sp-bg-secondary sp-opacity-75;
}

table.dataTable tbody tr.sp-ticket-viewed.selected td {
  @apply sp-bg-primary-200 sp-opacity-100;
}

.sp-theme-dark table.dataTable tbody tr.sp-ticket-viewed.selected td {
  @apply sp-bg-primary-800;
}

/* Ticket View */

.sp-quick-actions + .ticket-viewing {
  top: 3rem;
}

@screen md {
  .ticket-viewing {
    @apply sp-sticky sp-top-0 sp-z-50;
  }
}

.sp-ticket-subject.sp-can-edit-subject {
  @apply sp-inline-block sp-border sp-border-transparent;
}

.sp-ticket-subject.sp-can-edit-subject:hover {
  @apply sp-relative sp-pl-3 sp-pr-10 sp-border-tertiary sp-rounded sp-cursor-pointer;
}

.sp-ticket-subject.sp-can-edit-subject:hover:before {
  @apply sp-absolute sp-inline-block sp-right-0 sp-p-3 sp-font-icon sp-font-bold sp-text-sm;
  content: "\f044";
}

.sp-message {
  @apply sp-bg-primary;
}

.sp-message.sp-note {
  @apply sp-bg-yellow-100 sp-border-yellow-300;
}

.sp-theme-dark .sp-message.sp-note {
  @apply sp-bg-yellow-900 sp-border-0;
}

.sp-message.sp-forward {
  @apply sp-bg-purple-100 sp-border-purple-200;
}

.sp-theme-dark .sp-message.sp-forward {
  @apply sp-bg-purple-900 sp-border-0;
}

.sp-message .sp-message-header .fas {
  @apply sp-text-secondary;
}

.sp-message .sp-message-header .fas:hover {
  @apply sp-text-primary;
}

.sp-message.sp-message-collapsed {
  @apply sp-opacity-50 sp-text-secondary;
}

.sp-message.sp-message-collapsed,
.sp-message.sp-message-collapsible .sp-message-header {
  @apply sp-cursor-pointer;
}

.sp-message.sp-message-collapsed .sp-message-text {
  @apply sp-block;
}

.sp-message.sp-message-collapsed .sp-message-text-edit,
.sp-message.sp-message-collapsed .sp-attachments {
  @apply sp-hidden;
}

.sp-message div.expandable:before {
  @apply sp-inline-block sp-h-4 sp-px-1 sp-my-3 sp-bg-secondary sp-border sp-border-tertiary sp-rounded;
  content: '...';
  line-height: 0.375rem;
}

.sp-message div.expandable:hover:before {
  @apply sp-bg-tertiary sp-cursor-pointer;
}

.sp-message div.expandable + div.supportpal_quote {
  @apply sp-hidden sp-text-tertiary;
}

div.sp-collapsed-messages {
  @apply sp-p-1 sp-my-1 sp-text-secondary sp-text-center sp-cursor-pointer;
  background: linear-gradient(to bottom, var(--color-background-primary), var(--color-background-primary) 90%, var(--color-background-secondary) 10%, var(--color-background-secondary));
  background-size: 100% 11px;
}

div.sp-collapsed-messages span {
  @apply sp-px-3 sp-py-1 sp-bg-primary;
}

div.sp-collapsed-messages + .sp-message {
  @apply sp-mt-0;
}

.recipients {
  @apply sp-border sp-border-b-0 sp-border-tertiary sp-rounded-t;
}

.recipients div.sp-table-row > div.sp-table-cell {
  @apply sp-block sp-w-full sp-px-2 sp-pb-2 sp-align-middle;
}

.recipients div.sp-table-row:first-child > div.sp-table-cell:first-child {
  @apply sp-pt-2;
}

.recipients div.sp-table-row > div.sp-table-cell:first-child {
  @apply sp-w-auto sp-pb-1 sp-text-secondary sp-whitespace-nowrap;
}

.recipients .selectize-input {
  @apply sp-min-w-0 sp-whitespace-normal;
}

.recipients ul.sp-recipients-list {
  @apply sp-inline sp-p-0 sp-list-none;
}

.recipients ul.sp-recipients-list > li {
  @apply sp-inline;
}

.recipients ul.sp-recipients-list > li.sp-hidden {
  display: none;
}

.recipients ul.sp-recipients-list > li:not(.sp-hidden) ~ li::before {
  content: ", ";
}

.forward-form .recipients .add-cc, .forward-form .recipients .add-bcc {
  @apply sp-relative sp-z-10;
}

@screen sm {
  .recipients div.sp-table-row > div.sp-table-cell {
    @apply sp-px-1 sp-pb-1;
    display: table-cell;
  }

  .recipients div.sp-table-row:first-child > div.sp-table-cell {
    @apply sp-pt-1;
  }

  .recipients div.sp-table-row > div.sp-table-cell:first-child {
    @apply sp-pl-2 sp-text-right;
  }
}

.reply-form .sp-input-error {
  @apply sp-block sp-px-3 sp-py-1 sp-bg-red-600 sp-text-white;
}

.sp-draft-message hr {
  @apply sp-border-yellow-500;
}

.sp-theme-dark .sp-draft-message hr {
  @apply sp-border-yellow-900;
}

.sp-draft-message img:not(.sp-avatar) {
  @apply sp-max-w-full;
}

.sp-reply-options {
  @apply sp-w-full sp-border sp-border-tertiary sp-rounded;
}

.sp-reply-options-content {
  @apply sp-p-3;
}

.sp-reply-option {
  @apply sp-mb-2;
}

.sp-reply-option:last-child {
  @apply sp-mb-0;
}

@screen lg {
  .sp-reply-options {
    @apply sp-w-72;
  }
}

/* Sidebar - ticket details */

ul.sp-ticket-details {
  @apply sp-list-none;
}

ul.sp-ticket-details > li {
  @apply sp-mb-3/2;
}

ul.sp-ticket-details > li:last-child {
  @apply sp-mb-0;
}

ul.sp-ticket-details li .sp-title {
  @apply sp-text-secondary sp-text-sm;
}

ul.sp-ticket-details li .sp-detail {
  @apply sp-font-bold;
}

ul.sp-ticket-details li .sp-detail a.sp-detail-link {
  @apply sp-border-b sp-border-primary-800 sp-border-dotted;
}

ul.sp-ticket-details li .sp-detail a.sp-detail-link:hover {
  @apply sp-border-solid;
}

ul.sp-ticket-details li .sp-detail > select,
ul.sp-ticket-details li .sp-detail > .selectize-control {
  @apply sp-w-full sp-max-w-full sp-mt-1;
}

ul.sp-ticket-details li .sp-detail .create-new-user {
  @apply sp-font-normal;
}

ul.sp-ticket-details li .sp-detail .create-new-user a.new-user-toggle {
  @apply sp-border-0;
}

ul.sp-ticket-details li .sp-detail .new-user-form input,
ul.sp-ticket-details li .sp-detail .new-user-form .selectize-control {
  @apply sp-w-full sp-mb-2;
}

ul.sp-ticket-details li .sp-detail .selectize-control {
  @apply sp-font-normal;
}

/* Code Editor */

.sp-editor-preview {
  @apply sp-absolute sp-top-0 sp-w-full sp-p-3 sp-bg-secondary sp-border sp-border-tertiary sp-rounded sp-overflow-auto sp-z-10001;
}

.sp-editor-preview.loadinggif:before {
  @apply sp-absolute sp--mt-12 sp--ml-8 sp-font-icon sp-font-bold sp-text-primary-600 sp-text-6xl sp-z-10001;
  animation: fa-spin 2s infinite linear;
  content: "\f013";
  top: 50%;
  left: 50%;
}

.sp-theme-dark .sp-editor-preview.loadinggif:before {
  @apply sp-text-primary-200;
}

/* Comments */

.sp-comment {
  @apply sp-p-4;
}

.sp-comment .sp-comment {
  @apply sp-border-0 sp-p-0;
}

.sp-comment .sp-comment:first-child {
  @apply sp-mt-3;
}
