.codemirror-box {
    @apply sp-border sp-border-tertiary sp-rounded;
}

.codemirror-box .toolbar-wrapper + .CodeMirror {
    border-radius: unset !important;
}

/*
 * toolbar
 */

.codemirror-box .toolbar-wrapper {
    @apply sp-sticky sp-top-0;
    z-index: 1000;
}

.codemirror-box .toolbar {
    @apply sp-px-1 sp-py-0 sp-bg-secondary sp-border-0 sp-border-b sp-border-solid sp-border-tertiary;
    @apply sp-leading-normal !important;

    line-height: 1.5 !important;
    padding: 0 .25rem;
}

.codemirror-box .toolbar a {
    @apply sp-m-0 sp-shadow-none sp-text-primary;
    background: 0;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    outline: 0;
    border: none;
    vertical-align: middle;
    text-decoration: none;
    position: relative;
    border-radius: 2px;
}

.codemirror-box .toolbar a.button-icon {
    @apply sp-p-3/2 sp-text-sm;
}

.codemirror-box .toolbar a:hover,
.codemirror-box .toolbar a.button-active,
.codemirror-box .toolbar a.active {
    background: 0;
}

.codemirror-box .toolbar a:hover,
.codemirror-box .toolbar a:hover .fa,
.codemirror-box .toolbar a.button-active,
.codemirror-box .toolbar a.button-active .fa,
.codemirror-box .toolbar a.active,
.codemirror-box .toolbar a.active .fa {
    @apply sp-text-secondary;
}

/*
  Name:       material
  Author:     Mattia Astorino (http://github.com/equinusocio)
  Website:    https://material-theme.site/
*/

.cm-s-material.CodeMirror {
    background-color: #263238;
    color: #EEFFFF;
}

.cm-s-material .CodeMirror-gutters {
    background: #37474f;
    border: none;
}

.cm-s-material .CodeMirror-cursor {
    border-left: 1px solid #FFCC00;
}

.cm-s-material div.CodeMirror-selected {
    background: rgba(128, 203, 196, 0.2);
}

.cm-s-material.CodeMirror-focused div.CodeMirror-selected {
    background: rgba(128, 203, 196, 0.2);
}

.cm-s-material .CodeMirror-line::selection,
.cm-s-material .CodeMirror-line>span::selection,
.cm-s-material .CodeMirror-line>span>span::selection {
    background: rgba(128, 203, 196, 0.2);
}

.cm-s-material .CodeMirror-line::-moz-selection,
.cm-s-material .CodeMirror-line>span::-moz-selection,
.cm-s-material .CodeMirror-line>span>span::-moz-selection {
    background: rgba(128, 203, 196, 0.2);
}

.cm-s-material pre.CodeMirror-line {
    box-shadow: none;
}

.cm-s-material .CodeMirror-activeline-background {
    background: rgba(0, 0, 0, 0.5);
}

.cm-s-material .cm-keyword {
    color: #C792EA;
}

.cm-s-material .cm-operator {
    color: #89DDFF;
}

.cm-s-material .cm-variable-2 {
    color: #EEFFFF;
}

.cm-s-material .cm-variable-3,
.cm-s-material .cm-type {
    color: #f07178;
}

.cm-s-material .cm-builtin {
    color: #FFCB6B;
}

.cm-s-material .cm-atom {
    color: #F78C6C;
}

.cm-s-material .cm-number {
    color: #FF5370;
}

.cm-s-material .cm-def {
    color: #82AAFF;
}

.cm-s-material .cm-string {
    color: #C3E88D;
}

.cm-s-material .cm-string-2 {
    color: #f07178;
}

.cm-s-material .cm-comment {
    color: #546E7A;
}

.cm-s-material .cm-variable {
    color: #f07178;
}

.cm-s-material .cm-tag {
    color: #FF5370;
}

.cm-s-material .cm-meta {
    color: #FFCB6B;
}

.cm-s-material .cm-attribute {
    color: #C792EA;
}

.cm-s-material .cm-property {
    color: #C792EA;
}

.cm-s-material .cm-qualifier {
    color: #DECB6B;
}

.cm-s-material .cm-variable-3,
.cm-s-material .cm-type {
    color: #DECB6B;
}

.cm-s-material .cm-error {
    color: rgba(255, 255, 255, 1.0);
    background-color: #FF5370;
}

.cm-s-material .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}
