.codemirror-box {
    @apply sp-border sp-border-tertiary sp-rounded;
}

.codemirror-box .cm-focused {
    @apply sp-outline-0;
}

.codemirror-box .toolbar-wrapper {
    @apply sp-sticky sp-top-0 sp-z-[1000];
}

.codemirror-box .toolbar {
    @apply sp-bg-secondary sp-border-0 sp-border-b sp-border-solid sp-border-tertiary sp-rounded-t;
}

.codemirror-box .toolbar a {
    @apply sp-inline-block sp-align-middle;
}

.codemirror-box .toolbar svg {
    fill: var(--color-text-primary);
}

.codemirror-box .toolbar a.button-icon {
    @apply sp-p-3/2;
}

.codemirror-box .toolbar a:hover,
.codemirror-box .toolbar a:hover .fa {
    @apply sp-text-secondary;
}

.codemirror-box .toolbar a:hover svg {
    @apply sp-text-secondary;
    fill: var(--color-text-secondary);
}

.codemirror-box .cm-editor {
    @apply sp-rounded-b;
}

.codemirror-box .cm-gutters {
    @apply sp-text-tertiary sp-rounded-bl;
    background-color: #00000025;
}

.codemirror-box .cm-activeLineGutter {
    background-color: #cceeff33;
}

.codemirror-box .cm-activeLine {
    background-color: #99eeff20;
}
