.daterangepicker * {
    @apply sp-text-sm !important;
}

.daterangepicker {
    @apply sp-bg-primary sp-border-tertiary sp-overflow-auto;
    max-height: calc(100% - 7rem);
}

.daterangepicker:before {
    border-bottom-color: var(--color-background-tertiary);
}
.daterangepicker:after {
    border-bottom-color: var(--color-background-primary);
}

.daterangepicker.opensright:before {
    left: 15px;
}
.daterangepicker.opensright:after {
    @apply sp-left-4;
}

.daterangepicker.show-ranges.ltr .drp-calendar.left {
    border-left-color: var(--color-background-tertiary);
}

.daterangepicker .drp-buttons {
    border-top-color: var(--color-background-tertiary);
}

.daterangepicker .ranges li:hover {
    @apply sp-bg-secondary;
}

.daterangepicker .calendar-table {
    @apply sp-bg-primary sp-border-0;
}

.daterangepicker .calendar-table .next span,
.daterangepicker .calendar-table .prev span {
    border-color: var(--color-text-primary);
}

.daterangepicker .calendar-table .next span {
    margin-right: 3px;
}

.daterangepicker .calendar-table .prev span {
    @apply sp-ml-1/2;
}

.daterangepicker select.monthselect,
.daterangepicker select.yearselect {
    @apply sp-w-auto sp-px-2 sp-py-1 sp-pr-7;
    min-height: auto;
}

.daterangepicker td.active,
.daterangepicker td.active:hover,
.daterangepicker .ranges li.active,
.daterangepicker td.active.in-range,
.daterangepicker td.active.available:hover,
.daterangepicker td.active.in-range.available:hover {
    @apply sp-bg-primary-900 sp-text-white sp-font-bold;
}

.daterangepicker td.in-range,
.daterangepicker td.in-range.available:hover {
    @apply sp-bg-tertiary sp-text-primary;
}

.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
    @apply sp-bg-secondary;
}

.daterangepicker td:not(.available),
.daterangepicker th:not(.available) {
    @apply sp-cursor-auto;
}

.daterangepicker td.off,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date,
.daterangepicker td.off.end-date,
.daterangepicker td.off.available:hover {
    @apply sp-bg-transparent sp-text-tertiary;
}
