input.datepicker::placeholder,
input.timepicker::placeholder {
    @apply sp-font-icon-with-body;
}

.flatpickr-input[readonly] {
    @apply sp-opacity-100;
}

.flatpickr-input[readonly]:focus {
    @apply sp-bg-primary;
}

.flatpickr-calendar {
    @apply sp-bg-primary sp-rounded sp-shadow;
}

.sp-theme-dark .flatpickr-calendar {
    @apply sp-shadow-md;
}

.flatpickr-calendar.arrowTop:before,
.flatpickr-calendar.arrowTop:after {
    border-bottom-color: transparent;
}

.flatpickr-calendar.arrowBottom:before,
.flatpickr-calendar.arrowBottom:after {
    border-top-color: transparent;
}

.flatpickr-months {
    @apply sp-bg-secondary sp-rounded-none sp-rounded-t;
}

.flatpickr-months .flatpickr-month,
.flatpickr-months .flatpickr-next-month,
.flatpickr-months .flatpickr-prev-month {
    @apply sp-h-10;
}

.flatpickr-months .flatpickr-next-month, .flatpickr-months .flatpickr-prev-month {
    @apply sp-text-primary;
    fill: var(--color-text-primary);
    padding: 0.825rem;
}

.flatpickr-months .flatpickr-next-month:hover svg,
.flatpickr-months .flatpickr-prev-month:hover svg {
    @apply sp-text-primary;
    fill: var(--color-text-primary);
}

.sp-theme-dark .flatpickr-months .flatpickr-next-month,
.sp-theme-dark .flatpickr-months .flatpickr-prev-month,
.sp-theme-dark .flatpickr-months .flatpickr-next-month:hover svg,
.sp-theme-dark .flatpickr-months .flatpickr-prev-month:hover svg {
    @apply sp-text-white;
    fill: #fff;
}

.flatpickr-months .flatpickr-next-month:hover,
.flatpickr-months .flatpickr-prev-month:hover {
    @apply sp-bg-tertiary;
}

.flatpickr-months .flatpickr-next-month:hover {
    @apply sp-rounded-none sp-rounded-tr;
}

.flatpickr-months .flatpickr-prev-month:hover {
    @apply sp-rounded-none sp-rounded-tl;
}

.flatpickr-current-month {
    @apply sp-p-0 sp-text-base;
}

.flatpickr-calendar select.flatpickr-monthDropdown-months,
.flatpickr-calendar .flatpickr-current-month input.cur-year {
    @apply sp-px-3 sp-py-3/2 sp-text-primary sp-font-semibold;
}

.flatpickr-calendar select.flatpickr-monthDropdown-months {
    @apply sp-bg-secondary sp-bg-no-repeat sp-border-0 sp-rounded-none sp-leading-normal sp-box-border sp-appearance-none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23a0aec0'%3e%3cpath d='M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z'/%3e%3c/svg%3e");
    background-position: right 0.125rem center;
    background-size: 1.5rem;
}

.flatpickr-calendar select.flatpickr-monthDropdown-months,
.flatpickr-current-month select.flatpickr-monthDropdown-months:hover {
    @apply sp-bg-secondary sp-bg-no-repeat;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23a0aec0'%3e%3cpath d='M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z'/%3e%3c/svg%3e");
    background-position: right 0.125rem center;
    background-size: 1.5rem;
}

.flatpickr-calendar select.flatpickr-monthDropdown-months option.flatpickr-monthDropdown-month {
    @apply sp-bg-secondary sp-text-primary;
}

.flatpickr-current-month select.flatpickr-monthDropdown-months:hover,
.flatpickr-calendar .flatpickr-current-month input.cur-year:hover {
    background-color: rgba(0, 0, 0, .05);
}

.flatpickr-current-month .numInputWrapper {
    @apply sp-w-20;
}

.flatpickr-calendar .numInputWrapper span.arrowUp:after {
    border-bottom-color: var(--color-text-secondary);
}

.flatpickr-calendar .numInputWrapper span.arrowDown:after {
    border-top-color: var(--color-text-secondary);
}

.flatpickr-weekdays {
    @apply sp-bg-secondary sp-border-t sp-border-primary;
}

span.flatpickr-weekday {
    @apply sp-text-secondary sp-font-semibold;
}

.flatpickr-day {
    @apply sp-text-primary;
}

.flatpickr-day.endRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.endRange.nextMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.endRange:focus,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected,
.flatpickr-day.selected.inRange,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.selected:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.startRange:focus,
.flatpickr-day.startRange:hover {
    @apply sp-bg-primary-900 sp-border-primary-900 sp-text-white;
}

.flatpickr-day.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day.nextMonthDay:focus,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.today.inRange,
.flatpickr-day:focus,
.flatpickr-day:hover {
    @apply sp-bg-primary-800 sp-border-primary-800 sp-text-white;
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.nextMonthDay,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.prevMonthDay {
    @apply sp-text-tertiary;
}

.flatpickr-day.inRange {
    box-shadow: -5px 0 0 var(--color-primary-800), 5px 0 0 var(--color-primary-800);
}

.flatpickr-calendar.showTimeInput.hasTime .flatpickr-time {
    border-top-color: var(--color-background-secondary);
}

.flatpickr-calendar.noCalendar.showTimeInput.hasTime .flatpickr-time {
    @apply sp-border-0;
}

.flatpickr-time input,
.flatpickr-time .flatpickr-am-pm,
.flatpickr-time .flatpickr-time-separator {
    @apply sp-text-primary;
}

.flatpickr-time .flatpickr-am-pm:focus,
.flatpickr-time .flatpickr-am-pm:hover,
.flatpickr-time input:focus,
.flatpickr-time input:hover {
    background-color: rgba(0, 0, 0, .05);
}

.flatpickr-calendar.noCalendar.showTimeInput.hasTime .flatpickr-time {
    @apply sp-border-0;
}

.flatpickr-calendar.noCalendar .flatpickr-time input.flatpickr-hour:focus,
.flatpickr-calendar.noCalendar .flatpickr-time input.flatpickr-hour:hover {
    @apply sp-rounded-l sp-rounded-r-none;
}

.flatpickr-calendar.noCalendar .flatpickr-time input.flatpickr-minute:focus,
.flatpickr-calendar.noCalendar .flatpickr-time input.flatpickr-minute:hover {
    @apply sp-rounded-l-none sp-rounded-r;
}
