.hideShowPassword-wrapper {
    @apply sp-leading-none;
    @apply sp-w-auto !important;
    vertical-align: inherit !important;
}

.sp-form-full .hideShowPassword-wrapper {
    @apply sp-w-full !important;
}

.hideShowPassword-wrapper input {
    @apply sp-w-full;
    @apply sp-pe-24 !important;
    min-width: auto !important;
}

.hideShowPassword-toggle-show,
.hideShowPassword-toggle-hide {
    @apply sp-bg-primary sp-shadow-none sp-transform sp--translate-y-1/2;
    @apply sp-mt-0 sp-end-1 !important;
    min-width: 5rem;
}
