body.lg-on {
    @apply sp-overflow-hidden;
}

.lg-backdrop {
    z-index: 10003;
}

.lg-backdrop, .lg-toolbar {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.lg-outer {
    z-index: 10004;
}

.lg-actions .lg-next,
.lg-actions .lg-prev {
    @apply sp-shadow-none;
    background-color: rgba(0, 0, 0, .9);
}

.lg-icon:hover {
    background-color: rgba(0, 0, 0, .9) !important;
}

.lg-video-object {
    @apply sp-bg-gray-900;
}
