.selectize-input {
    @apply sp-max-w-full sp-px-3 sp-py-3/2 sp-border-2 sp-border-secondary sp-rounded sp-shadow-none sp-text-primary sp-leading-normal;
    overflow: inherit;
    min-height: 2.5rem;
}

.selectize-control.single .selectize-input {
    @apply sp-pe-7;
}

.selectize-input,
.selectize-input.full,
.selectize-control .selectize-input.disabled {
    @apply sp-bg-secondary;
}

.selectize-input.input-active,
.selectize-control.single .selectize-input.input-active {
    @apply sp-bg-primary;
}

.selectize-input.focus {
    @apply sp-shadow-none;
    box-shadow: none;
}

.selectize-input.has-options.dropdown-active.focus {
    @apply sp-rounded-t sp-rounded-b-none;
}

.selectize-input.dropdown-active::before {
    @apply sp-bg-transparent;
}

.selectize-input > * {
    @apply sp-inline;
}

.selectize-input > input {
    @apply sp-h-auto sp-align-middle;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
    @apply sp-text-primary;
    font-size: inherit;
}

.selectize-control.single .selectize-input.has-options,
.selectize-control.single .selectize-input.has-options.input-active {
    @apply sp-bg-[right_0.125rem_center] sp-bg-[length:1.5rem] sp-bg-no-repeat rtl:sp-bg-[left_0.125rem_center];
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23a0aec0'%3e%3cpath d='M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z'/%3e%3c/svg%3e");
}

.selectize-control.single .selectize-input:after {
    @apply sp-hidden;
}

.selectize-control.multi .selectize-input.has-items {
    @apply sp-pt-3/2 sp-pb-1/2 sp-px-3;
}

.selectize-control.multi .selectize-input > div {
    @apply sp-px-2 sp-py-0 sp-mt-0 sp-ms-1 sp-mb-1 sp-me-0;
}

.selectize-control.multi .selectize-input > div,
.selectize-control.multi .selectize-input > div.active {
    @apply sp-inline-block sp-bg-tertiary sp-text-primary;
}

.sp-selectize-inline-block .selectize-control {
    @apply sp-block;
}

@media (min-width: 640px) {
    .sp-selectize-inline-block .selectize-control {
        @apply sp-inline-block sp-align-middle;
        min-width: 16rem;
    }
}

/* Dropdown */

.selectize-dropdown {
    @apply sp-m-0 sp-bg-primary sp-border-2 sp-border-t-0 sp-border-secondary sp-rounded-t-none sp-rounded-b sp-shadow-none sp-text-primary sp-z-10001;
}

.selectize-dropdown-content {
    @apply sp-rounded-t-none sp-rounded-b;
}

.selectize-dropdown .active {
    @apply sp-bg-secondary sp-text-primary;
}

.selectize-dropdown .optgroup-header {
    @apply sp-bg-transparent sp-text-primary sp-font-bold;
}

.selectize-dropdown .optgroup-header,
.selectize-dropdown .option,
.selectize-dropdown [data-selectable] {
    @apply sp-px-3 sp-py-3/2;
}

.selectize-dropdown [data-selectable] {
    @apply sp-cursor-pointer;
}

.selectize-dropdown .create,
.selectize-dropdown .active.create {
    @apply sp-text-secondary;
}

/* Loading/disabled */

.selectize-control.loading .selectize-input:before {
    @apply sp-absolute sp-top-[0.375rem] sp-end-3 sp-text-primary-100 sp-font-icon sp-font-bold sp-text-base sp-z-50;
    animation: fa-spin 2s infinite linear;
    content: "\f110";
}

.selectize-control.single.loading .selectize-input.has-options:before {
    @apply sp-end-7;
}

.selectize-control.loading .selectize-input.dropdown-active:before {
    @apply sp-h-auto sp-bottom-auto sp-start-auto;
}

.selectize-control .selectize-input.disabled {
    @apply sp-opacity-50;
}

/* Remove button and unremovable */

.selectize-control.plugin-remove_button [data-value] {
    @apply sp-pe-2 !important;
}

.selectize-control.plugin-remove_button [data-value]:not([data-selectable]) {
    @apply sp-pe-[1.625rem] !important;
}

.selectize-control.plugin-remove_button [data-value] .remove,
.selectize-control.plugin-remove_button [data-value].active .remove {
    @apply sp-right-auto sp-h-full sp-pt-px sp-text-sm sp-border-l-0 sp-border-s sp-border-s-secondary;
    @apply sp-end-0 !important;
}

.selectize-control.plugin-remove_button [data-value] .remove,
.selectize-control.plugin-remove_button [data-value].active .remove {
    @apply sp-h-full sp-pt-px sp-text-sm sp-border-s-secondary;
}

.selectize-control.plugin-remove_button [data-value] .remove:hover {
    @apply sp-bg-transparent sp-opacity-75;
}

.selectize-control.plugin-remove_button [data-value][style*="color: #fff"] .remove {
    @apply sp-text-white !important;
}

.selectize-control.plugin-remove_button [data-value].unremovable {
    @apply sp-pe-2 !important;
}

.selectize-control.plugin-remove_button [data-value].unremovable .remove {
    @apply sp-hidden;
}
