/* Do not use Tailwind CSS classes in this file, as it is in emails and CSS variables are not available. */

.sp-editor-content h1,
.sp-editor-content h2,
.sp-editor-content h3,
.sp-editor-content h4,
.sp-editor-content h5,
.sp-editor-content h6 {
    margin-bottom: 1.5rem;
    margin-top: 0;
    font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
    font-weight: bold;
    color: #2d3748;
}

.sp-theme-dark .sp-editor-content h1,
.sp-editor-content.sp-theme-dark h1,
.sp-theme-dark .sp-editor-content h2,
.sp-editor-content.sp-theme-dark h2,
.sp-theme-dark .sp-editor-content h3,
.sp-editor-content.sp-theme-dark h3,
.sp-theme-dark .sp-editor-content h4,
.sp-editor-content.sp-theme-dark h4,
.sp-theme-dark .sp-editor-content h5,
.sp-editor-content.sp-theme-dark h5,
.sp-theme-dark .sp-editor-content h6,
.sp-editor-content.sp-theme-dark h6 {
    color: #e2f1f8;
}

.sp-editor-content h1 {
    font-size: 1.875rem; /* 3xl */
}

.sp-editor-content h2 {
    font-size: 1.5rem; /* 2xl */
}

.sp-editor-content h3 {
    font-size: 1.25rem; /* xl */
}

.sp-editor-content h4 {
    font-size: 1.125rem; /* lg */
}

.sp-editor-content h5,
.sp-editor-content h6 {
    font-size: 1rem; /* base */
}

.sp-editor-content h6 {
    font-weight: 600;
}

.sp-editor-content p {
    margin: 0;
}

.sp-editor-content ol,
.sp-editor-content ul {
    padding-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    list-style-type: decimal;
}

.sp-editor-content ul {
    list-style-type: disc;
}

.sp-editor-content ul ul {
    list-style-type: circle;
}

.sp-editor-content blockquote {
    padding-left: 0.75rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-left: 4px solid #e2e8f0;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
}

.sp-theme-dark .sp-editor-content blockquote,
.sp-editor-content.sp-theme-dark blockquote {
    border-left-color: #455a64;
}

.sp-editor-content pre:not(.moz-signature),
.sp-editor-content code {
    font-family: 'Fira Mono', 'Menlo', 'Monaco', 'Consolas', monospace;
}

.sp-editor-content pre:not(.moz-signature) {
    padding: 1rem;
    margin: 0;
    background: #edf2f7;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    border-radius: 0.5rem;
    overflow: auto;
    white-space: pre-wrap;
}

.sp-theme-dark .sp-editor-content pre:not(.moz-signature),
.sp-editor-content.sp-theme-dark pre:not(.moz-signature) {
    background: #37474f;
}

.sp-editor-content code[class*=language-],
.sp-editor-content pre[class*=language-] {
    color: #2d3748;
    text-shadow: none;
}

.sp-theme-dark .sp-editor-content code[class*=language-],
.sp-editor-content.sp-theme-dark code[class*=language-],
.sp-theme-dark .sp-editor-content pre[class*=language-],
.sp-editor-content.sp-theme-dark pre[class*=language-] {
    color: #e2f1f8;
}

.sp-editor-content table tbody,
.sp-editor-content table tr,
.sp-editor-content table th,
.sp-editor-content table td {
    border: inherit;
}

.sp-editor-content .sp-mention {
    display: inline-flex;
    align-items: center;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    background: #e2e8f0;
    color: #718096;
}

.sp-theme-dark .sp-editor-content .sp-mention,
.sp-editor-content.sp-theme-dark .sp-mention {
    background: #455a64;
    color: #c1d5e0;
}

.sp-editor-content .sp-mention.sp-current-user {
    background: #bbdefb;
}

.sp-theme-dark .sp-editor-content .sp-mention.sp-current-user,
.sp-editor-content.sp-theme-dark .sp-mention.sp-current-user {
    background: #102027;
}
