@charset "utf-8";

.sp-theme-dark .tippy-tooltip {
    text-align: center;
}

.sp-theme-dark .tippy-tooltip {
    background: var(--color-primary-100);
    color: var(--color-primary-900);
    text-align: center;
}

.sp-theme-dark .tippy-tooltip[data-placement^=top] > .tippy-arrow {
    border-top-color: var(--color-primary-100);
}

.sp-theme-dark .tippy-tooltip[data-placement^=bottom] > .tippy-arrow {
    border-bottom-color: var(--color-primary-100);
}

.sp-theme-dark .tippy-tooltip[data-placement^=left] > .tippy-arrow {
    border-left-color: var(--color-primary-100);
}

.sp-theme-dark .tippy-tooltip[data-placement^=right] > .tippy-arrow {
    border-right-color: var(--color-primary-100);
}
